body {
    background: linear-gradient(#ef0000, #ffef00);
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    margin: 0;
    color: white;
}

div {
    background-color: #9f0000CC;
    width: 80%;
    max-width: 550px;
    min-width: 400px;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 2.5rem;
}

#title, #description {
    width: 70%;
    margin: 1em auto;
    text-align: center;
}

#description {
    font-style: italic;
}

form {
    width: 60vw;
    max-width: 400px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #fbbb0f;
}

fieldset:last-of-type {
    border-bottom: none;
}

label {
    display: block;
    margin: .5rem 0;
}

input:not(input[type="submit"],
input[type='checkbox'],
input[type='radio']),
textarea,
select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
    padding: .5rem;
    font-size: 1rem;
    border-radius: 1rem;
    background-color: #7f0000;
    border: 2px solid white;
    color: white;
}

select,
#name-label,
#email-label,
#avg-lab {
    margin-bottom: 1.5rem;
}

input[type='checkbox'],
input[type='radio'] {
    width: unset;
    margin: 0 .5em 0 0;
    vertical-align: middle;
}

input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1rem auto;
    height: 3rem;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #df0000;
    border-color: hsl(70, 100%, 50%);
    min-width: 300px;
    color: #fff;
    border-radius: 1rem;
}